
<br>
<br>
<br>
<br>
<div class="col-md-4" class="text-center" class="container">
    <h1 class="text-center">Merchant Change Password</h1>
    <br>
    <form >
            
        <div class="form-group">
            <label for="mailid">Email Id</label>
            <input type="text" placeholder="enter your email id" class="form-control"  required #email >
            <br>
            <input type="submit" class="btn btn-primary" value="verify" (click)="checkMerchantChangePwd(email.value)"/>
        </div>

    </form>






</div>

