<div class="container" style="background-color:rgb(39, 173, 250)">
  <div class="card" style="background-color: rgb(200, 243, 207)">
      <div class="card-body">
          <div class="card-title">
              <h3 style="color: rgb(224, 31, 95)">Verification of the User</h3>
              <p>To use our Services and Continue further, User should Validate Account by linking their Email and Mobile
                  Number once.
          </div>
          <input type="submit" value="Verify" class="btn btn-primary"style="margin-left: 470px" (click)='onSubmit()'>
      </div>
  </div>
</div>
