
<br>
<br>
<br>
<div class="container">
    <form class="text-center">
        <div class="form-group">
            <label for="newpwd">New Password</label>
            <input type="password" placeholder="enter your new password" class="form-control" #newpwd/>
        </div>
        <div class="form-group">
            <label for="conpwd">Confirm Password</label>
            <input type="password" placeholder="enter your password again" class="form-control" #conpwd/> 
        </div>
        <br>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit" (click)="resetPassword(newpwd.value,conpwd.value)"/>
        </div>
    </form>

</div>
